<%= form_for([:course,:quiz,@choice]) do |f| %>
  <p>
    <%= f.label :index %><br>
    <%= f.text_field :index %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :isAnswer %><br>
    <%= f.text_field :isAnswer %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>